*{
color: blueviolet;
}

 .container {
            display: flex;
        }
        .left {
            width: 20%;
        }
        .right {
            width: 80%;
            padding: 20px;
        }