*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(219, 212, 212);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
     

}
h1{
    color: blueviolet;

}
 nav h2{
    color: rgb(213, 50, 50);
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
   
}
nav{
      margin-top: 20px;
      background-color: rgb(163, 156, 156);
      width: 300px;
      padding-left: 30px;
      border-radius: 6px;
     
     

}
nav a{
    text-decoration: none;
    
    display: flex;
    color: black;
   
   
    padding: 10px;
    margin-bottom: 10px;
    transition:  background-color 0.3s;
  
    

    
  
  
}
nav a:hover{
    
    background-color:blueviolet;
   
   

}